.header {
  background-color: #fff;
  padding: 92px 24px 96px;
  display: flex;
  align-items: center;
  font-size: 18px;
}

.header__menu {
  padding-left: 26.52px;
}

.header__links-list {
  display: flex;
  list-style: circle;
  list-style-position: inside;
  gap: 13px;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}
.header__link_active {
  text-decoration: none;
}
.address {
  display: flex;
  flex-direction: column;
  width: 240.52px;
  margin-left: 184px;
  align-items: flex-start;
  gap: 2px;
}

.address a {
  text-decoration: none;
  border-bottom: 1px solid;
}

.address address {
  line-height: 24.3px;
}
.header__logo {
  width: 148px;
  margin-left: 36px;
}

.header__logo-image {
  width: 135px;
}

.cover {
  text-transform: uppercase;
  background-image: url(../images/cover.jpg);
  position: relative;
  padding: 165px 50px 51px;
  color: #fff;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.cover__title {
  position: relative;
  font-weight: 700;
  font-size: 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  line-height: 100px;
  letter-spacing: 30px;
}

.aligned-text {
  display: block;
  text-align: left;
  line-height: 115px;
}

.aligned-text_center {
  display: block;
  text-align: center;
}

.aligned-text_right {
  display: block;
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  position: relative;
  margin-top: 135px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 28px;
}

.cover__description-text {
  font-size: 22px;
  word-spacing: 19px;
}
.bet-button {
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid #fff;
  padding: 12px 32px 11px 31px;
  color: #fff;
}
